body{
    box-sizing: border-box;
    margin: 0;
    background: #d4cccc;
}
#container{
   width: 100%;
   height: 97vh;
   background: #d4cccc;
   /* border: 2px solid red; */
   display: flex;
   justify-content: center;
   align-items: start;

}
#taskManager{
    /* min-width: 500px; */
    /* max-width: 500px; */
    min-height: 20%;
    background-color: #c474b7;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 4%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 0.3rem;
}

.taskText{
    width: 340px;
    height: 40px;
    background-color: rgb(203, 203, 225);
    border: none;
    border-radius: 0.2rem;
    font-size: 1.18rem;
    /* text-transform: capitalize; */
}
#addBtn{
    padding: 0.5rem;
    background-color: rgb(76, 101, 226);
    border: none;
}
.remove{
    background-color: rgb(228, 72, 57);
    border: none;
    font-size: 1.5rem;
    /* height: 2.5%; */
    padding: 0.1rem 0.5rem;
}
.button{
    cursor: pointer;
    border-radius: 0.2rem;
    border: none;
    height: 5vh;
}
.taskEach{
    margin-bottom: 0.9rem;
    display: flex;
    gap: 0.75rem;
    align-items: center;
}